@Test public void matchNoRequirements(){
  SlotProfile slotProfile=new SlotProfile(resourceProfile,Collections.emptyList(),Collections.emptyList());
  SlotContext match=runMatching(slotProfile);
  Assert.assertTrue(candidates.contains(match));
}
