private static class ConstraintSemantics extends StandardConstraintSemantics {
  @Override protected ConstraintDescriptor readNonStandardConstraint(  ConstraintRule rule,  String errorMessage){
    if (!rule.getConstraintDescriptor().enforcesPropertyExistence()) {
      throw new IllegalStateException("Unsupported constraint type: " + rule);
    }
    return rule.getConstraintDescriptor();
  }
}
