@Test public void should_fail_if_one_entry_does_not_satisfy_the_given_requirements(){
  try {
    maps.assertAllSatisfy(someInfo(),greatPlayers,(team,player) -> {
      assertThat(team).isIn("Lakers","Bulls","Spurs");
      assertThat(player.getPointsPerGame()).as("%s %s ppg",player.getName().first,player.getName().getLast()).isGreaterThanOrEqualTo(30);
    }
);
  }
 catch (  AssertionError e) {
    assertThat(e).hasMessage(format("[Tim Duncan ppg] %n" + "Expecting:%n" + " <19>%n"+ "to be greater than or equal to:%n"+ " <30> "));
    return;
  }
  failBecauseExpectedAssertionErrorWasNotThrown();
}
