@Test public void should_fail_according_to_requirements(){
  ThrowingCallable assertion=() -> iterables.assertZipSatisfy(someInfo(),actual,other,(s1,s2) -> assertThat(s1).startsWith(s2));
  AssertionError assertionError=catchThrowableOfType(assertion,AssertionError.class);
  assertThat(assertionError).isNotNull();
  List<ZipSatisfyError> errors=list(new ZipSatisfyError("Luke","LUKE",shouldStartWith("Luke","LUKE").create()),new ZipSatisfyError("Yoda","YODA",shouldStartWith("Yoda","YODA").create()),new ZipSatisfyError("Leia","LEIA",shouldStartWith("Leia","LEIA").create()));
  verify(failures).failure(info,zippedElementsShouldSatisfy(actual,other,errors));
}
